//font size
$baseFontSize: 16px;
$smallFontSize: 12px;
$middleFontSize: 20px;
$largeFontSize: 24px;
$headerFontSize: 14px;

//colors
$baseWhite: #fff;
$baseBlack: #333;
$baseOrange: #F5B332;
$headerBgColor: #908D8D;

