//font size
$baseFontSize: 14px;
$smallFontSize: 12px;
$middleFontSize: 18px;
$largeFontSize: 24px;
$extremeLargeFontSize: 30px;
$headerFontSize: 14px;
$navFontSize: 19px;
$titleFontSize: 20px;

//colors
$baseWhite: #fff;
$baseBlack: #555;
$baseBlue: #4979BA;
$baseLightBlue: #6FBCF6;
$baseOrange: #F5B332;
$baseGray: #919191;
$baseGreen: #8ed666;
$baseLightGray: #C3D1DA;
$baseBgColor: #EEEEEE;
$headerBgColor: #908D8D;
$footerFontColor: #8E9EA6;
$footerBgColor: #333442;
$footerCopyrightFontColor: #838687;
$loginOrange: #F25D00;
$navOrange: #F38238;
$breadcrumbOrange: #fd5b00;
$baseBorderColor: #C5D1DB;
$baseHoverColor: #F5F8FB;
$aboutBorderColor: #EFEFEF;
$hoverBlue: #6FBCF6;
$joinusBlue: #2E487F;
$inactiveGray: #EEE;


